html
    doctype html
    head
        title Ajout d'un élève
    
    body
        p 
            if eleve 
                p= "Elève " + eleve.prenom + " " + eleve.nom + " ajouté"

            h1 Formulaire d'ajout d'un elève
            
            
            mixin form(action, ...items)
                form(action=action method='post')
                    each item in items
                        label= item
                        input(type="text" name=item placeholder=item)
                        br
                    input(type="submit" value="Envoyer")
            
            +form('/eleve','nom','prenom')
                

        a(href='/') Accueil